{{ define "main" }}
<article class="book-page">
  <h1>{{ .Title }}</h1>
  <div class="lead">{{ .Content }}</div>

  {{ $pages := .Pages.ByDate.Reverse }}
  {{ if gt (len $pages) 0 }}
    <ul class="entry-list">
      {{ range $pages }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ with .Date }}<span>{{ .Format "2006-01-02" }}</span>{{ end }}
        {{ with .Summary }}<p>{{ . }}</p>{{ end }}
      </li>
      {{ end }}
    </ul>
  {{ else }}
    <p>No hay contenido todavia.</p>
  {{ end }}
</article>
{{ end }}
